* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div#navbar {
	width: 100%;
	height: 7.5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2vh 1rem;
	/* position: fixed; */
	background-color: #fff;
}

div#navbar img.navLogo {
	height: 3vh;
}

div#navbar div.navigation {
	display: flex;
	gap: 1rem;
}

div#navbar div.navigation a {
	text-decoration: none;
	color: #a0c1ee;
	font-size: 1rem;
}

div#content {
	width: 100%;
	min-height: 100vh;
	background-image: url('img/sample-pattern.png');
	display: flex;
	align-items: center;
	flex-direction: column;
}

div#content h1 {
	color: #324a5e;
	margin: 2rem;
}

div#content div.posts {
	width: 90vw;
	max-width: 48rem;
	display: flex;
	flex-direction: column;
}
div#content div.posts div.post {
	width: 100%;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	padding: 2rem;
	background-color: #fff;
	margin-bottom: 2px;
}
div#content div.posts div.post h3 {
	color: #6c94df;
}
div#content div.posts div.post p {
	font-size: 0.9rem;
}

div#footer {
	width: 100%;
	height: 7.5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
